<div class="app-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-toolbar (toolbarEvent)="toolbarEvent($event)"></app-toolbar>
  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 4">
    <mat-sidenav [disableClose]="true"  class="sidenav-list" #sidenav [mode]="'side'"
                         [fixedInViewport]="false" fixedTopGap="56">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

   