<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-toolbar></app-toolbar>
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav [disableClose]="true" [opened]="true" class="sidenav-list" #sidenav [mode]="'side'"
                         [fixedInViewport]="false" fixedTopGap="56">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-mainlist></app-mainlist>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>