<mat-card>
  <mat-expansion-panel (opened)="opened = true" (closed)="opened = false" hideToggle="true">
    <mat-expansion-panel-header>
      <div
        class="message-toolbar"
        fxLayoutAlign="start center"
        fxLayout="row">
        <div fxFlex="50px" [fxShow]="true">
          <span class="avatar accent-1">
            {{avatar}}
          </span>
        </div>
        <div fxFlex="20%" [fxShow]="true">
          {{destination}}
        </div>
        <div fxFlex fxFill class="message-subject">
          {{subject}}
        </div>
        <div fxFlex="35%" class="btn-col">
          <span>{{recieved.toLocaleTimeString()}}</span>
          <button (click)="$event.stopPropagation();"
            [matMenuTriggerFor]="snoozeMenu"
            mat-icon-button
            matTooltip="Reply..."
            matTooltipPosition="above">
            <mat-icon>reply</mat-icon>
          </button>
          <mat-menu  class="snooze-menu" #snoozeMenu="matMenu" [overlapTrigger]="false" xPosition="before">
            <h3>Reply...</h3>
            <hr />
            <button mat-menu-item>
              <mat-icon>call</mat-icon>
              Voice
            </button>
            <button mat-menu-item (click)="onCall">
              <mat-icon>video_call</mat-icon>
              Video
            </button>
            <button mat-menu-item>
              <mat-icon>message</mat-icon>
              Message
            </button>
          </mat-menu>
          <button mat-icon-button (click)="$event.stopPropagation();call.emit(destination)" matTooltip="Call" matTooltipPosition="above">
              <mat-icon>call</mat-icon>
          </button>
          <button mat-icon-button (click)="$event.stopPropagation();removed.emit(id)" matTooltip="Delete" matTooltipPosition="above">
            <mat-icon>delete</mat-icon>
          </button>
          
        </div>
      </div>
      </mat-expansion-panel-header>
      <div class="message-body" fxLayout="row">
        
        <div fxFlex>
          <div class="message-body-toolbar">
              <span class="message-from">{{outgoing ? "me to" : destination}}</span> <span class="message-to">{{!outgoing ? "to me" : destination}}</span>
            <button mat-icon-button class="message-more" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu class="message-more-menu" #menu="matMenu" [overlapTrigger]="false" xPosition="before">
              <button mat-menu-item (click)="onCall()">
                <mat-icon>reply</mat-icon>
                Reply
              </button>
              <button mat-menu-item (click)="onCall()">
                <mat-icon>forward</mat-icon>
                Forward
              </button>
              <hr />
              <button mat-menu-item>
                <mat-icon>print</mat-icon>
                Print
            </button>
            </mat-menu>
          </div>
          <div [innerHTML]="body"></div>
        </div>
      </div>
  </mat-expansion-panel>
</mat-card>